/*Utils*/
@import "./Utils/variables_colors";
@import "./Utils/keyframes";

/*Vendors*/

/*base*/
@import "./base/fonts";
@import "./base/icons";
@import "./base/generalites";


/*composants*/
@import "./Composants/bouton";

/*layout*/
@import "./Layout/header";
@import "./Layout/logo";
@import "./Layout/section";
@import "./Layout/footer";

/*pages*/
@import "./Pages/header_index";
@import "./Pages/spinner";
@import "./Pages/bouton_index";
@import "./Pages/section_index";
@import "./Pages/vignette";
@import "./Pages/header_menu";
@import "./Pages/section_menu";
@import "./Pages/bouton_menu";
/*themes*/


.menu__choix{
    list-style: none;
    padding:0;
}
.plat{
    background-color: $bg-primary-color;
    @extend .fonctionnement__list--element;
    justify-content: space-between;
    margin:0;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    &:hover{
        background-color: $bg-primary-color;
        .plat__precis{
            width: 80%;
        }
        .plat__precis--prix{
            width: 30%;
            transform: translateX(0);
            }
        .plat__precis--select{
            opacity: 1;
        transform: translateX(0);
        }
    }
}
.plat__precis{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    margin:initial;
    padding:1%;
    &--nom{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    width:100%;
    height: auto;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &--ingredients{
    font-family: 'robotolight', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    width: 100%;
    height:auto;
    padding:0;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &--prix{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        box-sizing: border-box;
        border-radius: 0 1.563em 1.563em 0;
        font-family: 'roboto', Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: bold;
        width: 10%;
        height: 100%;
        margin: initial;
        text-align: center;
        padding:5%;
        transform: translateX(5em);
        animation: transform 400ms ease-in-out;
    }
    &--select{
        background-color: $tertiary-color;
        color:$font-color-light;
        border-radius: 0 1.563em 1.563em 0;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-family: 'roboto', Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: bold;
        width: 6em;
        height: 100%;
        margin: initial;
        text-align: center;
        padding:5%;
        opacity:0;
        transform: translateX(5em);
        

    }
}
