.logo{
    &--debut{
        display: flex;
        justify-content: center;
        margin: auto;
        width: auto;
        height: 45%;
        fill:$font-color-dark;
    }
    &--footer{
        padding:unset;
        height: 1.12em;
        width: 6.12em;
        fill:$font-color-light;
    }
}