section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin:initial;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 100%;
    & > *{
        width: 90%;
        margin: 2%;
        margin-left: 1em;
        margin-right: 1em;
        
    }
}