/*Utils*/
@keyframes apparait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disparait {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apparaitMenu {
  0% {
    opacity: 0;
    transform: translateY(5em);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(5em);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-0.2turn);
  }
  100% {
    transform: rotate(0);
  }
}
/*Vendors*/
/*base*/
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2") format("woff2"), url("../fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../fonts/roboto-fontfacekit/web-fonts/roboto_light_macroman/Roboto-Light-webfont.eot");
  src: url("../fonts/roboto-fontfacekit/web-fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-fontfacekit/web-fonts/roboto_light_macroman/Roboto-Light-webfont.woff2") format("woff2"), url("../fonts/roboto-fontfacekit/web-fonts/roboto_light_macroman/Roboto-Light-webfont.woff") format("woff"), url("../fonts/roboto-fontfacekit/web-fonts/roboto_light_macroman/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/roboto-fontfacekit/web-fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("../fonts/shrikhand/Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
.svgSources {
  display: none;
}

.icon__wait {
  width: 100%;
  height: 100%;
  fill: #9356DC;
}
.icon__wait--1 {
  fill-opacity: 1;
}
.icon__wait--2 {
  fill-opacity: 0.9;
}
.icon__wait--3 {
  fill-opacity: 0.8;
}
.icon__wait--4 {
  fill-opacity: 0.7;
}
.icon__wait--5 {
  fill-opacity: 0.6;
}
.icon__wait--6 {
  fill-opacity: 0.5;
}
.icon__wait--7 {
  fill-opacity: 0.4;
}
.icon__wait--8 {
  fill-opacity: 0.3;
}
.icon__search {
  width: 1.5em;
  height: 1.5em;
  fill: #000;
}
.icon__fonctionnement {
  fill: #7E7E7E;
  width: 1.25em;
  height: 1.25em;
}
.icon__vignette {
  width: 2em;
  height: 2em;
  padding-top: 1em;
  align-self: flex-start;
}
.icon__vignette--solid {
  fill: #9356DC;
  margin: 0;
  position: relative;
  right: 1em;
  opacity: 0;
}
.icon__vignette--regular {
  fill: #101010;
  margin: 0;
  position: relative;
  right: -1em;
}
.icon__footer {
  width: 0.8em;
  height: 0.8em;
  padding-right: 0.5em;
  fill: #FFF;
}
.icon__checked {
  width: 1.7em;
  height: 1.7em;
  padding: 33%;
  fill: #FFF;
}

.resto__info--svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  background-color: transparent;
}
.resto__info--svg:hover .icon__vignette--solid {
  animation: apparait 1000ms;
}

body {
  font-family: "robotoregular", arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  background-color: #EAEAEA;
}

h1, h3, h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.restaurant h1, article h1, .restaurant h3, article h3, .restaurant h2, article h2 {
  font-family: "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  margin-top: 1em;
}

.restaurant h2, article h2 {
  font-family: "robotolight", Arial, Helvetica, sans-serif;
  align-self: flex-start;
  font-size: 1.3em;
  font-weight: normal;
  width: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.2em solid #99E2D0;
}

h3 {
  font-size: 1.5em;
}

p {
  font-family: "robotolight", Arial, sans-serif;
  font-size: 1.4em;
  color: #353535;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*composants*/
.btn {
  height: 3.1em;
  border: 0;
  border-radius: 1.563em 1.563em 1.563em 1.563em;
  background: linear-gradient(0.98turn, #9356DC, #FF79DA);
  color: #FFF;
  font-size: 1.2em;
  cursor: pointer;
  margin: 5%;
  box-shadow: 0 0.313em 0.313em #C6C6C6;
}
.btn:active {
  border-left: 3px grey solid;
  border-top: 3px grey solid;
}

/*layout*/
header {
  background-color: #EAEAEA;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--entete {
  width: 100%;
  background-color: #FFF;
  height: 5em;
  box-shadow: 0 0.125em 0.313em #7E7E7E;
}

.logo--debut {
  display: flex;
  justify-content: center;
  margin: auto;
  width: auto;
  height: 50%;
  fill: #101010;
}
.logo--footer {
  padding: unset;
  height: 2em;
  width: 8em;
  fill: #FFF;
}

section, article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  margin: initial;
  padding-top: 10%;
  padding-bottom: 10%;
  height: 100%;
}
section > *, article > * {
  width: 90%;
  margin: 2%;
  margin-left: 1em;
  margin-right: 1em;
}

footer {
  background-color: #353535;
  color: #FFF;
  padding: 5%;
}
footer ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.3em;
}
footer ul li {
  margin-top: 2%;
}

/*pages*/
.container--notice {
  background-color: #F6F6F6;
  height: auto;
  text-align: center;
  padding: 10%;
}
.container--notice h1, .container--notice h2, .container--notice h3 {
  width: 90%;
}
.container--lieu {
  box-sizing: border-box;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  padding: 3%;
}

#mapSearch {
  font-size: 1.3em;
  color: #000;
  border-color: transparent;
  background-color: transparent;
  width: 90%;
  height: auto;
  margin-left: 2%;
}

::placeholder {
  color: #000;
}

.spinner {
  width: 20%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 40%;
  display: flex;
  justify-content: center;
}

.spinner__icon--wait {
  transform: rotate(1.5turn);
  transition: transform 5000ms ease-out;
  animation: disparait 100ms 3900ms both;
}

.page__index {
  animation: apparait 100ms 3900ms both;
}

.btn__formulaire {
  width: 70%;
}

.fonctionnement {
  background-color: #FFF;
}
.fonctionnement__list {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
}
.fonctionnement__list--element, .plat {
  background-color: #F6F6F6;
  border-radius: 1.563em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6em;
  width: 95%;
  margin: 6%;
  box-shadow: 0 0.313em 0.313em #C6C6C6;
}
.fonctionnement__list--element > *, .plat > * {
  margin: 2%;
}
.fonctionnement__list--element:hover, .plat:hover {
  background-color: #F5EDFF;
}
.fonctionnement__list--element:hover .icon__fonctionnement, .plat:hover .icon__fonctionnement {
  fill: #9356DC;
}
.fonctionnement__list--puce {
  box-sizing: border-box;
  background-color: #9356DC;
  color: #FFF;
  text-align: center;
  vertical-align: center;
  padding: 1%;
  width: 2em;
  height: 2em;
  font-size: 1.1em;
  border-radius: 100%;
  margin-left: -0.81em;
}
.fonctionnement__list--text {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  font-family: "roboto_regular", Arial, sans-serif;
  font-weight: bold;
}
.fonctionnement__list--text svg {
  margin-right: 5%;
}

.restaurants, .restaurant, article {
  background-color: #F6F6F6;
  height: 100%;
}

.vignette {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFF;
  height: 21em;
  border-radius: 0.6875em;
  box-sizing: border-box;
  box-shadow: 0 0.313em 0.313em #C6C6C6;
}
.vignette a {
  width: 100%;
  height: 68%;
}
.vignette__image {
  border-radius: 0.6875em 0.6875em 0em 0em;
  width: 100%;
  height: 100%;
  object-position: 50% 60%;
  object-fit: cover;
  cursor: pointer;
}
.vignette__new {
  box-sizing: border-box;
  background-color: #99E2D0;
  color: #018766;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  padding: 1%;
  width: 22%;
  height: 15%;
  position: relative;
  bottom: 100%;
  left: 75%;
  border-radius: 0.1em;
}
.vignette__info {
  width: 100%;
  height: 32%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.vignette__info--text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  height: 100%;
  margin: 2%;
}

.noNew {
  opacity: 0;
}

.resto__info--text {
  width: 80%;
}
.resto__info--text > * {
  width: 80%;
  margin: 1%;
}

.menu__image {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  object-fit: cover;
}

.restaurant, article {
  margin-top: -3em;
  border-radius: 3.5em 3.5em 0 0;
  padding-top: 1em;
}

.restaurant__title {
  flex-direction: row;
  justify-content: space-between;
}

.restaurant__svg {
  box-sizing: border-box;
  padding-top: 1em;
}

.btn__menu {
  width: 50%;
}

/*themes*/
.menu__choix {
  list-style: none;
  padding: 0;
}

.plat {
  background-color: #FFF;
  justify-content: space-between;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  overflow: hidden;
}
.plat:hover {
  background-color: #FFF;
}
.plat:hover .plat__precis {
  width: 80%;
}
.plat:hover .plat__precis--prix {
  width: 30%;
  animation: slide 400ms 100ms both;
}
.plat:hover .plat__precis--select {
  animation: slide 400ms 100ms forwards;
}
.plat:hover .plat__precis--select .icon__checked {
  animation: rotate 400ms 300ms both;
}
.plat__animation--1 {
  animation: apparaitMenu 1000ms 100ms both;
}
.plat__animation--2 {
  animation: apparaitMenu 1000ms 200ms both;
}
.plat__animation--3 {
  animation: apparaitMenu 1000ms 300ms both;
}

.plat__precis {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  margin: initial;
  padding: 1%;
}
.plat__precis--nom {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  height: auto;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__precis--ingredients {
  font-family: "robotolight", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__precis--prix {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  border-radius: 0 1.563em 1.563em 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  width: 10%;
  height: 100%;
  margin: initial;
  text-align: center;
  padding: 5%;
  transform: translateX(5em);
  animation: transform 400ms ease-in-out;
}
.plat__precis--select {
  background-color: #99E2D0;
  color: #FFF;
  border-radius: 0 1em 1em 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  width: 6em;
  height: 100%;
  margin: initial;
  text-align: center;
  transform: translateX(5em);
}

/*# sourceMappingURL=style.css.map */
