.svgSources{
    display: none;
}
.icon{
    &__wait{
        width: 100%;
        height: 100%;
        fill:$primary-color;
        &--1{
            fill-opacity: 1;
        }
        &--2{
            fill-opacity: 0.9;
        }
        &--3{
            fill-opacity: 0.8;
        }
        &--4{
            fill-opacity: 0.7;
        }
        &--5{
            fill-opacity: 0.6;
        }
        &--6{
            fill-opacity: 0.5;
        }
        &--7{
            fill-opacity: 0.4;
        }
        &--8{
            fill-opacity: 0.3;
        }
    }
    &__search{
        width: 1.5em;
        height: 1.5em;
        fill:$font-color-base;
    }
    &__fonctionnement{
        fill:$font-color-mid-dark;
        width: 1.25em;
        height: 1.25em;
    }
    &__vignette{
        width: 2em;
        height: 2em;
        padding-top:1em;
        align-self: flex-start;
        &--solid{
            fill:$primary-color;
            margin: 0;
            position: relative;
            right: 1em;
            opacity: 0;
        }
        &--regular{
            fill:$font-color-dark;
            margin: 0;
            position:relative;
            right: -1em;
        }
    }
    &__footer{
        width: 0.8em;
        height: 0.8em;
        padding-right: 0.5em;
        fill:$font-color-light;
    }
    &__checked{
        width: 1.7em;
        height: 1.7em;
        padding: 33%;
        fill:$font-color-light;
    }
}

.resto__info--svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    background-color:transparent;
    &:hover .icon__vignette--solid{
        animation: apparait 1000ms;
    }
}
