.restaurant{
    @extend .restaurants;
    margin-top : -2.8em;
    border-radius: 2.5em 2.5em 0 0;
    padding-top: 1em;
}

.restaurant__title{
    flex-direction: row;
}

.restaurant__svg{
    box-sizing: border-box;
    padding-top: 1em;
    margin-left: initial;
}

article{
    @extend section;
    @extend .restaurant;
}