.restaurant{
    @extend .restaurants;
    margin-top : -2.5em;
    border-radius: 2.5em 2.5em 0 0;
    padding-top: 1em;
}

.restaurant__title{
    flex-direction: row;
}

.restaurant__svg{
    box-sizing: border-box;
    padding-top: 1em;
    margin-left: initial;
}

article{
    @extend section;
    @extend .restaurant;
}

.menu__choix{
    list-style: none;
    padding:0;
}

.plat{
    background-color: $bg-primary-color;
    @extend .fonctionnement__list--element;
    justify-content: space-between;
    margin:0;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    overflow: hidden;
    &:hover{
        background-color: $bg-primary-color;
        .plat__precis{
            min-width: 50%;
            max-width: 60%;
        }
        .plat__precis--prix{
            animation: slide 400ms both;
            }
        .plat__precis--select{
            animation: slide 400ms forwards;
            .icon__checked{
            animation: rotate 200ms 200ms both;
            }
        }
    }
    &__animation--1{
        animation: apparaitMenu 1000ms 100ms both;
    }
    &__animation--2{
        animation: apparaitMenu 1000ms 200ms both;
    }
    &__animation--3{
        animation: apparaitMenu 1000ms 300ms both;
    }
    &__animation--4{
        animation: apparaitMenu 1000ms 400ms both;
    }
}

.plat__precis{
    min-width: 80%;
    max-width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    margin:initial;
    padding:1%;
    &--nom{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    width:100%;
    height: auto;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &--ingredients{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.9em;
    width: 100%;
    height:auto;
    padding:0;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &--prix{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        box-sizing: border-box;
        border-radius: 0 1.563em 1.563em 0;
        font-family: 'roboto', Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        font-weight: bold;
        width: 30%;
        height: 100%;
        margin: initial;
        padding:5%;

    }
    &--select{
        background-color: $tertiary-color;
        color:$font-color-light;
        border-radius: 0 1em 1em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-family: 'roboto', Arial, Helvetica, sans-serif;
        width: 6em;
        height: 100%;
        margin: initial;
        transform: translateX(5em);
    }
}