$primary-color: #9356DC;
$primary-color-light: #F5EDFF;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$bg-base:#EAEAEA;
$bg-primary-color:#FFF;
$bg-secondary-color:#F6F6F6;
$bg-tertiary-color:#353535;
$font-color-base:#000;
$font-color-light:#FFF;
$font-color-mid-light: #C6C6C6;
$font-color-mid-dark:#7E7E7E;
$font-color-dark:#101010;
$font-color-green:#018766;