/*colors projet*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/*background colors et variations*/
$bg-primary-color:#FFF;
$bg-secondary-color: darken($bg-primary-color,4%);
$bg-tertiary-color: darken($bg-primary-color,79%);
$bg-base: darken($bg-primary-color,8%);
$primary-color-light: lighten($primary-color,36%);

/*fonts-colors et variations*/
$font-color-base: #000;
$font-color-light: lighten($font-color-base,100%);
$font-color-mid-light: lighten($font-color-base,78%);
$font-color-mid-dark: lighten($font-color-base,49%);
$font-color-dark: lighten($font-color-base,6%);
$font-color-new: darken($tertiary-color,40%);
